<header class="site-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="/" style="margin: -4px 0 0 -10px">
          <img alt="Quakers" src="{{ site.baseurl }}/img-ui/q-logo.svg" width="32" height="32"/>
        </a>
      </div>
      <div style="margin-left:60px;">
      <div class="row">
        <button type="button" class="navbar-toggle collapsed btn-block" data-toggle="collapse" data-target="#navbar-collapsible" aria-expanded="false">
          {{ site.title }}
          <span class="caret"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapsible">
          <ul class="nav navbar-nav">
            {% if showTitleInNav %}
              <li>
                <a href="{{ site.baseurl }}/">{{ site.title }}</a>
              </li>
            {% endif %}
            {% for c in site.collections %}
              {% if c.includeHomePage or c.output and c.docs.size > 0 %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ c.name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if c.includeHomePage %}
                      <li>
                        <a href="{{ site.baseurl }}/">{{ c.includeHomePage }}</a>
                      </li>
                    {% endif %}
                    {% for d in c.docs %}
                      {% if d.date == nil or d.date > site.time %}
                        <li>
                          <a class="" href="{{ d.url | prepend: site.baseurl }}">{% include accessor o=d k='shortTitle' %}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if meeting %}
      <div class="row">
        <button type="button" class="navbar-toggle collapsed btn-block" data-toggle="collapse" data-target="#navbar-collapsible-meeting" aria-expanded="false">
          {{ meeting.shortTitle }}
          <span class="caret"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapsible-meeting">
          <ul class="nav navbar-nav">
          <li>
            <a href="{{ meeting.url }}">{{ meeting.shortTitle }} Meeting</a>
          </li>
            {% for d in site.pages %}
              {% if d.meeting == meeting.meeting %}
                <li>
                  <a href="{{ d.url | prepend: site.baseurl }}">{% include accessor o=d k='shortTitle' %}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
