---
# This layout is for events.
#
# The 'when' and the 'where will be shown on the right-hand side.
#
# If the event has a location key, that will be used for the 'where'; otherwise,
# if the event has a meeting, it will link to the meeting.
#
# An event list will be shown on the right hand side

layout: default
---

{% include assign-meeting %}

<article class="event" itemscope itemtype="https://schema.org/Event">
  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
  </header>
  <div class="row">
    <div class="pull-right col-xs-12 col-sm-4">
      <section class="bg-success pad-lg xs-expand">
        <dl>
          <dt>
            When
          </dt>
          <dd>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">
              {{ page.date | date: "%A, %-d %B %Y" }}
            </time>
          </dd>
          <dt>
            Where
          </dt>
          <dd>
            {% if page.location != nil %}
              <span itemprop="location">
                {% assign location = page.location %}
              </span>
            {% elsif meeting %}
              {% assign location = meeting.address %}
              <a itemprop="location" itemscope itemtype="http://schema.org/Place" href="{{ meeting.url }}">
                {{ meeting.shortTitle }} Meeting House
                <address class="hidden">{{location}}</address>
              </a>
            {% endif %}
          </dd>
        </dl>
      </section>
    </div>
    <div class="col-xs-12 col-sm-8 pad-y-lg content-body" itemprop="description">
      {{ content }}
    </div>

    <div class="pull-right col-xs-12 col-sm-4">
      <div class="xs-expand">
        {% include eventlist.html events=site.events meeting=page.meeting %}
      </div>
    </div>

  </div>
</article>
